* {
  box-sizing: border-box;
}

body {
  background-color: #1ca0a0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 98vh;
}

.d-flex {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.red {
  position: relative;
  width: 700px;
  height: 700px;
  background: red;
}

.orange {
  position: relative;
  width: 600px;
  height: 600px;
  background: orange;
}

.yellow {
  position: relative;
  width: 500px;
  height: 500px;
  background: yellow;
}

.green {
  position: relative;
  width: 400px;
  height: 400px;
  background: green;
}

.celestial-blue {
  position: relative;
  width: 300px;
  height: 300px;
  background: #1156e4;
}

.blue {
  position: relative;
  width: 200px;
  height: 200px;
  background: blue;
}

.purple {
  position: relative;
  width: 100px;
  height: 100px;
  background: purple;
}

.tooltip {
  width: 300px;
  min-height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  padding: .5rem;
  border-radius: .5rem;
  font-size: 1.25rem;
  color: #efefef;
}

.tooltip__image {
  width: 100px;
  height: 100px;
  margin: .5rem;
  float: right;
}

.tooltip_red {
  background: red;
}

.tooltip_orange {
  background: orange;
}

.tooltip_yellow {
  background: yellow;
}

.tooltip_green {
  background: green;
}

.tooltip_celestial-blue {
  background: #1156e4;
}

.tooltip_blue {
  background: blue;
}

.tooltip_purple {
  background: purple;
}

.highlighted {
  background-color: #efefef;
}